.classroom-status-header {
  padding: 0px 30px;
  margin-top: -20px;
  background: #FFF;
}

.classroom-status-name {
  float: left;
  color: $c-red-orange;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: 15px;
  margin: 0;
}

.classroom-status-utilities {
  float: right;
  list-style: none;
  padding: 5px;
  padding-left: 0;
  li {
    display: inline;
  }
}
.classroom-status-utility {
  text-transform: uppercase;
  margin-left: 15px;
  box-shadow: 3px 4px $c-light-blue;
}
.btn-login-roster {
  top: 13px;

  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    margin-left: 0;
  }
}
.login-roster-label {
  position: relative;
}

.classroom-status-body {
  position: relative;
}

.classroom-status-form-left {
  position: absolute;
  width: 235px;
  top: 99px;
}

#classroom-status-sort-students {
  .custom-select {
    color: #000;
    font-size: 0.7em;
    width: 231px;
    height: 36px;
    background: #FFF;
    border: 2px solid $c-turq;
    border-radius: 6px;
    margin-bottom: 5px;

    select {
      width: 250px;
      height: 36px;
      padding: 4px 12px;
    }

    .custom-select-arrow {
      color: $c-turq;
    }
  }
}

#classroom-status-search-students {
  .form-control {
    display: inline-block;
    color: $c-turq;
    width: 187px;
    height: 33px;
    background: transparent;
    margin-top: 1px;
    margin-right: 10px;
    border: 2px solid $c-turq;
    border-radius: 6px;
  }
}
form#classroom-status-search-students {
  .form-control::-webkit-input-placeholder { color: $c-turq; }
  .form-control::-moz-placeholder { color: $c-turq; }
  .form-control:-ms-input-placeholder { color: $c-turq; }
}

.classroom-status-form-right {
  text-align: right;

  label {
    color: $c-turq;
    font-size: 1rem;
    font-weight: normal;
    margin-right: 10px;
  }

  .btn-dashboard {
    margin-left: 10px;
  }

  /*.submit {
    margin-right: 20px;
  }*/
}

.classroom-status-move-students-group {
  display: inline;
  .custom-select{
    margin-left: 10px;
  }
  .classroom-status-reassign-langauge{
    width: 11em;
    select{
      width: 11em;
    }
  }
}
.classroom-status-move-students {
  width: 14em;
  select {
    width: 15em;
  }
}

.classroom-status-table-scroll-wrapper {
  margin-left: 250px;
}

#classroom-status-table {
  font-size: 1rem;
  color: $c-turq;
  background: #FFF;

  thead {
    background: $c-light-blue;
  }

  th {
    font-weight: normal;
  }
}

.classroom-status-table-lesson-header {
  color: #FFF;
  font-size: 1em;
  background: $c-turq;
  padding: 15px 20px;
  &.unpublished{
    background: lighten(desaturate($c-turq, 5%), 10%);
    color: #DDD;
  }
  &:nth-child(2n+3) {
    background: $c-dark-turq;
    &.unpublished{
      background: lighten(desaturate($c-dark-turq, 40%),20%);
    }
  }
}

.classroom-status-table-activity-header {
  font-size: 0.9em;
  font-weight: bold;
  background: darken($c-light-blue, 10%);
  padding: 15px 20px;
}

.classroom-status-table-student-header {
  position: absolute;
  left: 30px;
  min-width: 250px;
  color: $c-dark-turq;
  background: #FFF;
  padding: 11px 0 11px 15px;

  label{
    font-weight: normal;
    .student-checkbox {
      margin-right: 10px;
    }
  }
}

.classroom-status-table-student-row {
  border-bottom: 2px solid $c-light-blue;
  .language-display{
    height: 44px;
    display: block;
    width: 40px;
    position: relative;
    margin-top: -11px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 22px;
    margin-right: 2px;
    text-align: center;
    float: right;
    padding: 11px 5px;
    background: $c-light-blue;
  }
}

.classroom-status-data {
  height: 45px;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  &.unpublished{
    background: #eee;
    border-bottom: 2px solid #FFF;
  }
}

.classroom-status-data.status-tried,
.classroom-status-data.status-passed,
.classroom-status-data.status-current {
  cursor: pointer;
}

.classroom-status-data.status-passed {
  color: #FFF;
  background: $c-green;
  &:hover, &:focus {
    background: darken($c-green, 13%);
  }
}

.classroom-status-data.status-current {
  color: #FFF;
  background: $c-gold;
  &:hover, &:focus {
    background: darken($c-gold, 7%);
  }
}
.classroom-status-data.status-locked{
  color: #FFF;
  background: #F00;
  &:hover, &:focus {
    background: darken(#F00, 7%);
  }
}

.classroom-status-select-all {
  position: fixed;
  left: 30px;
  min-width: 250px;
  color: #FFF;
  font-size: 1rem;
  text-align: center;
  background: $c-turq;
  padding: 6px 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  .select-all-checkbox {
    margin-left: -25px;
    margin-right: 15px;
  }
}
