body.dashboard {
  background: $c-light-blue;
}

// button defaults

.btn-dashboard {
  display: inline-block;
  color: #FFF;
  font-size: 0.9rem;
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  box-shadow: 3px 4px darken($c-light-blue, 10%);
}

.btn-gold {
  background: $c-gold;
  &:hover, &:focus {
    background: darken($c-gold, 10%);
  }
}

.btn-green {
  background: $c-green;
  &:hover, &:focus {
    background: darken($c-green, 13%);
  }
}

.btn-red-orange {
  background: $c-red-orange;
  &:hover, &:focus {
    background: darken($c-red-orange, 7%);
  }
}

.btn-disabled {
  background: $c-gray;
  &:hover, &:focus {
    background: $c-gray;
  }
}
button.btn-disabled[disabled] {
  cursor: not-allowed;
}

// report text styles
.report-green {
  color: $c-green;
}
.report-turq {
  color: $c-turq;
}
.report-red {
  color: $c-red-orange;
}
.report-black {
  color: #000;
}

// strip select input of it's default styling so it can be customized
.custom-select {
  display: inline-block;
  position: relative;
  overflow: hidden;

  select {
    background: transparent;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }
}
.custom-select-arrow {
  position: absolute;
  top: 12px;
  right: 14px;
  font-size: 10px;
  pointer-events: none;
}

.custom-select-turq {
  color: $c-turq;
  font-size: 0.9em;
  font-weight: bold;
  width: 14em;
  height: 34px;
  border-radius: 6px;
  background: darken($c-light-blue, 10%);
  vertical-align: bottom;

  select {
    width: 15em;
    height: 34px;
    padding: 5px 15px;
  }
}

.scroll-wrapper {
  overflow: scroll;
}

.dashboard-body {
  width: 100%;
  padding: 50px 30px;
}

.title-inactive, .title-divider {
  color: $c-turq;
}
.title-divider {
  margin: 0 10px;
}
