/*
@name content-elements
@description Styles pertaining to content elements' UI.
-----------------------------------------------------*/


.content-element {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    font-size: 1.2rem;
  }
}

.ce-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
}

// Article
.ce-article {
  border: 1px dashed #ccc;
  font-size: 1.2rem;
  padding: 20px;
}

.ce-article__title,
.ce-article__title * {
  font-size: 1.6rem !important; // Sorry, mom.
  font-weight: bold;
  margin-top: 0;
}

.ce-article__body {
  p {
    text-indent: 20px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  .sentence{
    &.has-synonym{
      &:hover{
        background-color: $c-light-blue;
        border-radius: 6px;
      }
    }
  }
}

.ce-word {
  &.well, &.radio, &.checkbox{
    min-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
  }
  &:hover {
    cursor: pointer;
  }
  &.hidden{
    display: initial !important;
  }
}

.ce-word--selected {
  color: green;
}

/* Ensure that marked paragraphs
   do not interfere with base styles
 -------------------------------------*/
p.ce-marked {
  font-size: inherit;
  .well, .radio, .checkbox{
    min-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    border: none;
    display: inline;
    border-radius: 0px;
    box-shadow: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  p.ce-marked {
    margin: 0;
  }
}

th p.ce-marked {
  margin: 0;
}

.ce-figure__header {
  p.ce-marked {
    margin: 0;
  }
}
/*------------------------------------*/

// Figure
.ce-figure {
  border-radius: 4px;
  overflow: hidden;
}

.ce-figure__header {
  background-color: $c-turq;
  color: white;
  font-size: 1.1rem;
  padding: 10px;
}

.ce-figure__body {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;

  .o-blank {
    border-bottom: 2px solid $c-black;
  }
}

.ce-figure__body--lined {
  background: linear-gradient(to bottom, #fff, #fff 90%, #fff 90%, #D3D3D3 2px);
  background-size: 100% 20px;
  display: block;
  margin: 4%;
  margin-top: 20px;
  width: 92%;
}

.ce-figure__body--lined > span {
  width: 100%;
}

.ce-table {
  border: 2px solid #ccc;

  th {
    text-transform: uppercase;
  }

  th, td {
    border: 2px solid #ccc;
  }

  td {
    font-size: 1rem;
  }
}

/* Rich Text */
.ce-rich-text {
  p {
    font-size: 1.2rem;
  }
}

/* Media */
.ce-media img,
.ce-media video {
    margin: auto;
    display: block;
    max-width: 100%;
}

/* Main Idea */
.ce-main-idea {
  p {
    font-size: 1.2rem;
  }
}

/* Main Idea Pattern, Writing Pattern */
.ce-figure--writing-pattern,
.ce-figure--main-idea-pattern {
  .ce-figure__body {
    text-align: center;
  }
}

.student-synonym-sentence-modal{
  text-align: center;
  img{
    max-width: 100%;
  }
}
.popover.translation-word{
  background-color: $c-red-orange;
  color: $c-white;
  z-index: 2000000000;
  position: absolute;
  &> .arrow{
    &:after{
      border-top-color: $c-red-orange;
    }
  }

}
.popover.es-continue-button-popover{
  font-size: 1rem;
}
