/*
@name feedback-modal
@description Styles pertaining to the feedback modal UI.
-----------------------------------------------------*/

.feedback-modal {
  width: 25rem;

  .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}

.feedback__top {
  border-radius: 5px;
  margin-bottom: 25px;
  overflow: hidden;
}

.feedback-score {
  background-color: white;
  overflow: auto;
  padding: 15px 35px 5px 20px;
}

.feedback-score__img {
  display: block;
  float: left;
  margin-right: 20px;
  @include size(55px);
}

.feedback-score__content {
  float: left;
  width: 265px; // 400 - (35 + 20 + 55 + 20 + 5)
}

.feedback-score__heading {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 5px;
  text-transform: uppercase;
}

.feedback-score__progress {
  .progress {
    background-color: #ddd;
    border: 2px solid #ddd;
    border-radius: 25px;
    box-shadow: none;
    height: 30px;
  }

  .progress-bar {
    background-color: darken($c-turq, 15%);
    border-radius: 25px;
  }
}

.feedback__text {
  background-color: #ddd;
  padding: 15px;
  max-height: 300px;
  overflow-y: auto;

  h2 {
    font-size: 1.4rem;
    margin: 0;
  }
}

.feedback__answer > div.act-representation {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}
