/*
@name key-modal
@description Styles pertaining to the key modal UI.
-----------------------------------------------------*/

.key-modal {
  position: relative;
  width: 44rem;

  .modal-content {
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
  }
}

.key-content__icon {
  @include size(100px);
}

h2.key-content__title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}

.key-content--description {
  font-size: 1.125rem;
}

h4.key-content__subheading {
  text-transform: uppercase;
}

.key-content__keywords {
  margin-top: 15px;
}

.key-content__keyword {
  float: left;
  margin-bottom: 10px;
  width: 50%;

  span {
    background-color: #ddd;
    border-radius: 4px;
    display: inline-block;
    font-size: 1.125rem;
    padding: 6px 8px;
  }
}

.key-content__top {
  padding: 15px;
}

.key-content__bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 20px;
  padding-top: 10px;

  .nav-tabs {
    border-bottom: none;
    margin-bottom: 40px;

    li {
      margin-right: 0.8rem;

      a {
        background-color: white;
        border-radius: 4px;
        font-size: 0.8rem;
        text-transform: uppercase;
        text-align: center;
      }

      &.active {
        a {
          box-shadow: 0 0 0 3px rgba(0,0,0,0.4);
        }
      }

      &.key-content__tab-changer {
        // Push it to the far right!
        &:last-child {
          margin-right: 0;
          position: absolute;
          right: -2px;
        }

        a {
          background-color: rgba(0,0,0,0.4);
          border-radius: 0;
          color: white;

          &:focus {
            border: 1px solid transparent;
            color: white;
          }

          &:hover {
            border: 1px solid rgba(0,0,0,0.4);
          }
        }
      }
    }
  }
}

.key-content__body {
  min-height: 150px;
  color: white;
  text-align: center;
  font-size: 1.875rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.key-content__underscore {
  border-bottom: 2px solid white;
  display: inline-block;
  width: 100px;
}

.key-content__body--mip {
}

.key-content__body--sw {
  font-size: 1.375rem;

  strong {
    font-size: 1.875rem;
  }
}

// Structure-specific modifications
.key-content--comparison {
  .key-content__bottom {
    background-color: $c-turq;
  }

  .nav-tabs li a,
  .nav-tabs li.active a {
    color: darken($c-turq, 20%);
  }
}

.key-content--sequence {
  .key-content__bottom {
    background-color: $c-gold;
  }

  .nav-tabs li a,
  .nav-tabs li.active a {
    color: darken($c-gold, 20%);
  }
}

.key-content--cause-effect {
  .key-content__bottom {
    background-color: $c-red-orange;
  }

  .nav-tabs li a,
  .nav-tabs li.active a {
    color: darken($c-red-orange, 20%);
  }
}

.key-content--description {
  .key-content__bottom {
    background-color: $c-dark-blue;
  }

  .nav-tabs li a,
  .nav-tabs li.active a {
    color: darken($c-dark-blue, 20%);
  }
}

.key-content--problem-solution {
  .key-content__bottom {
    background-color: $c-light-green;
  }

  .nav-tabs li a,
  .nav-tabs li.active a {
    color: darken($c-light-green, 20%);
  }
}

.key-chooser {
  background-color: #444;
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 20px;
}

.key-chooser--closed {
  right: -70px;
  width: 70px;

  &:hover {
    cursor: pointer;
    right: -210px;
    width: 210px;

    .key-chooser__desc {
      display: inline-block;
    }
  }
}

.key-chooser--open {
  right: -210px;
  width: 210px;

  .key-chooser__desc {
    display: inline-block;
  }
}

.key-chooser__desc {
  color: white;
  display: none;
  font-size: 1rem;
  margin-left: 20px;
  width: 110px;
}

button.key-chooser__toggle,
button.key-chooser__toggle:hover,
button.key-chooser__toggle:active,
button.key-chooser__toggle:active:hover,
button.key-chooser__toggle:focus {
  background: transparent url('/media/other/key-2x.png') no-repeat 40% 50%;
  background-size: 35px;
  border: none;
  box-shadow: none;
  color: $c-gold;
  font-size: 45px;
  outline: none;

  @include size(80px);
}

.key-chooser__body {
  padding-left: 10px;
}

.key-chooser__option {
  a, a:hover {
    color: white;
    display: block;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  img {
    margin-right: 15px;
    @include size(40px);
  }
}