/*
@name lesson-intro
@description Styles pertaining to the lesson intro UI.
-----------------------------------------------------*/

.lesson-intro-modal {
  width: 35rem;

  .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}

.lesson-intro {
  .act-it {
    float: left;
    margin-right: 20px;
    @include size(180px);
  }
}

.lesson-intro__content {
  background-color: white;
  border-radius: 4px;
  float: left;
  padding: 20px;
  width: 22rem;
}

.lesson-intro__text {
  font-size: 1.3rem;
}
