/*
@name progress-bar
@description Styles pertaining to the progress bar UI.
-----------------------------------------------------*/

.app-progress-bar {

}

.app-progress-bar__structure {
  color: $c-black;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1rem;
  margin-right: 15px;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover {
    color: $c-black;
    text-decoration: none;
  }
}

.app-progress-bar__count {
  background-color: #292929;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 1rem;
  line-height: 20px;
  margin-right: 15px;
  padding: 4px 8px;

  &:hover {
    background-color: #363636;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
}

.app-progress-bar__popover {
  background-color: rgba(0,0,0,0.80);
  border: none;
  border-radius: 3px;
  box-shadow: none;
  color: white;
  margin-top: -25px !important; // BS override
  padding: 15px;
  width: 260px;
  top: auto !important;
  bottom: 60px;

  .arrow:after {
    border-top-color: rgba(0,0,0,0.73) !important;
  }
  .popover-content{
    max-height: 425px;
    overflow-y: auto;
  }
}

.progress-po-item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.progress-po-item__complete,
.progress-po-item__bar {
  border-radius: 15px;
  display: inline-block;
  margin: 0;
  margin-right: 10%;
  @include size(55% 22px);
}

.progress-po-item__complete {
  background-color: $c-gold;
  color: $c-black;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.75px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: super;
}

.progress-po-item__bar.progress {
  background-color: transparent;
  border: 2px solid white;

  .progress-bar {
    background-color: $c-turq;
  }
}

.progress-po-item__label {
  display: inline-block;
  font-size: 1rem;
  vertical-align: super;
  width: 35%;
  &.current_lesson{
    color: $c-gold;
  }
}

.act-progress-dot {
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
  @include size(10px);
}

.act-progress-dot--active,
.act-progress-dot--done {
  background-color: white;
  @include size(20px);

  &:hover {
    border: 2px solid #777;
    cursor: pointer;
  }
}

.act-progress-dot--active {
  border: 2px solid $c-black;
}

.act-tracker-po {
  background-color: rgba(0,0,0,0.75);
  background-position: 9px 50%;
  background-repeat: no-repeat;
  background-size: 40px;
  border: none;
  border-radius: 30px;
  box-shadow: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 32px;
  margin-top: -23px !important; // BS override
  padding-left: 40px;
  text-align: center;
  text-transform: uppercase;
  height: 55px;
  max-width: 500px;

  .arrow:after {
    border-top-color: rgba(0,0,0,0.68) !important;
  }
}

.act-tracker-po--signaling {
  background-image: url('/media/activity/signal-words.svg');
}

.act-tracker-po--info {
  background-image: url('/media/activity/information.svg');
}

.act-tracker-po--mi {
  background-image: url('/media/activity/main-idea.svg');
}

.act-tracker-po--structure {
  background-image: url('/media/activity/structure.svg');
}

.act-tracker-po--recall {
  background-image: url('/media/activity/recall.svg');
}
