/*
@name video-instructions
@description Styles pertaining to the video instructions UI
-----------------------------------------------------*/

.video-instructions-modal {
  margin-top: 12%;
  width: 78%;

  .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;

    video {
      width: 100%;
    }
  }
}

.video-instructions {
  .o-btn-action.continue {
    display: block;
    position: absolute;
    top: 85%;
    width: 95%;
    margin-left: 2.5%;
    box-shadow: #595959 3px 3px 5px;
  }

  .btn-set{
    position: relative;
    top: 35%;
    margin: auto;

    &.btn-set--wide{
      width: 15rem;
    }

    .o-btn-video {
      background-size: 24px 19px;
      border: none;
      border-radius: 4px;
      color: white;
      font-size: 1.5rem;
      padding: 10px 15px;
      text-align: left;
      text-transform: uppercase;
      width: 100%;
      letter-spacing: 2px;
      z-index: 10;

      &:hover {
        background-color: $c-red-orange;
      }

      &:disabled {
        background-color: fade-out($c-red-orange, 0.7);
      }

      &.play-img,
      &.replay-img{
        box-shadow: $c-dark-gray 3px 3px 5px;
        color: $c-gold;
        width: 8rem;
        height: 8rem;
        position: relative;
        border-radius: 100px;
        margin: auto;
        &:hover {
          background-color: lighten($c-dark-gray,10%);
        }
      }
      &.play-img {
        background: $c-blackish url('/media/other/play-2x.png') no-repeat 60%;
        background-size: 70px;
      }

      &.replay-img {
        background: $c-blackish url('/media/other/replay-2x.png') no-repeat 50%;
        background-size: 70px;
      }

      &.replay{
        background-color: $c-gold;
        border-radius: 50px;
        box-shadow: $c-dark-gray 3px 3px 5px;
        color: $c-black;
        font-size: 1rem;
        font-weight: bold;
        margin: 10px auto;
        padding: 10px 35px;
        position: relative;
        text-align: center;
        width: auto;

        &:hover {
          background-color: darken($c-gold,10%);
        }
      }
    }
  }
}

.video-instructions__overlay {
  background-color: rgba(255,255,255,0.75);
  border-radius: 4px;
  float: left;
  left: 0; top: 0;
  padding: 20px;
  position: absolute;
  @include size(100%);
}

@media screen and (min-width: 1024px)
{
  .video-instructions-modal {
    margin-top: 10%;
    width: 85%;
  }
}
@media screen and (min-width: 1200px)
{
  .video-instructions-modal {
    margin-top: 8%;
    width: 85%;
  }
}
@media screen and (min-width: 1440px)
{
  .video-instructions-modal {
    margin-top: 6%;
    width: 72%;
  }
}
@media screen and (min-width: 1800px)
{
  .video-instructions-modal {
    margin-top: 5%;
    width: 72%;
  }
}


