<%= render partial: "pages/client_state", locals: { redirect: @redirect, state: @state, env: @env } %>
<div id="client-loading" class="act-loading-overlay" style="display: block">
  <div class="itss-loading">
    <div class="itss-loading__inner">
      <span>Loading Lesson Content...</span>
    </div>
  </div>
</div>
<div id="client" ></div>
